 <br>
  <div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title"><%=Gossip.find(@page).author%></h5>
	        <p class="card-text"><%=Gossip.find(@page).content%></p>
	       
	        <p class="card-text">Created: <%=Gossip.find(@page).created_at%></p>
	     
	      </div>
	    </div>
	  </div>
	</div>